﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="Demo3Layer.Presentation._Default" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">

       <asp:GridView ID="grid" runat="server" CellPadding="4" ForeColor="#333333" GridLines="None" Width="374px">
    </asp:GridView>

</asp:Content>
